body {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif; }

#header {
  width: 960px;
  margin: 0 auto; }

#container {
  width: 960px;
  margin: 20px auto; }

#content {
  width: 960px;
  overflow: hidden; }

.sound {
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  height: 250px; }
  .sound .quote {
    position: relative;
    background: #88b7d5;
    border: 4px solid #c2e1f5;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px; }
    .sound .quote:after, .sound .quote:before {
      top: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .sound .quote:after {
      border-top-color: #88b7d5;
      border-width: 10px;
      left: 50%;
      margin-left: -10px; }
    .sound .quote:before {
      border-top-color: #c2e1f5;
      border-width: 16px;
      left: 50%;
      margin-left: -16px; }
    .sound .quote h3 {
      margin: 0;
      padding: 10px;
      color: #171D73;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }
    .sound .quote h3.long {
      font-size: 14px; }
  .sound .avatar {
    width: 100%; }
    .sound .avatar img {
      margin: 20px auto;
      display: block;
      border: 5px solid #eee;
      box-shadow: 0 3px 5px #666; }
  .sound .quote, .sound .avatar img {
    transition: box-shadow 0.6s;
    -moz-transition: box-shadow 0.6s;
    -webkit-transition: box-shadow 0.6s;
    -o-transition: box-shadow 0.6s; }
  .sound:hover .quote, .sound:hover .avatar img {
    box-shadow: 0px 4px 14px #333;
    transition: box-shadow 0.6s;
    -moz-transition: box-shadow 0.6s;
    -webkit-transition: box-shadow 0.6s;
    -o-transition: box-shadow 0.6s; }
  .sound .meta {
    font-size: 11px;
    text-align: center; }
